.profileUpdateContainer{
  display: flex;
  justify-content: center;
  /* text-align: center; */
  align-items: center;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background-color:rgb(174, 239, 239);
  position: fixed;
  top: 0%;
  left: 0%;
}

.profileUpdateBox{
  width: 30vw;
  height: 70vh;
  background-color: white;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 30px;
  font-family: monospace;
  font-weight: 500;
  
}

.profileBox > h2{
  margin: 20px;
}

.profileUpdateForm{

    /* background-color: pink; */
    margin-top: 20vmax;
    margin-right: 20%;
    margin-left: 20vmax;
    width: 30vw;
    height: 30vh;
    padding-top: 30px;
    position: absolute;
    background-color: white;
    justify-content: space-evenly;
    justify-items: center;
}

.updateProfileName{
  margin: 10px;
}

.updateProfileEmail{
  margin: 10px;
}
.updateProfileButton{
  background-color: green;
  width: 10vmax;
  margin-top: 20px;
  margin-left: 40px;
  color: white;
  border: none;
  justify-content: center;
}

.updateProfileButton:hover{
  background-color: darkgreen;
 
}
